.header {
  height: 70px;
  max-width: 100%;
  box-shadow: 2px 0px 4px rgb(44, 43, 43, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 200%;
  color: #53afbd;
  font-family: "Playfair Display", serif;
}

.cartContainer {
  display: flex;
  align-items: center;
}
