.wrapper {
  margin: 10px 20px;
  background: linear-gradient(45deg, #53afbd 30%, #296ce7 90%); /*#e4e4e4*/
  height: 300px;
  display: flex;
  max-width: calc(100% - 40px);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper div h1 {
  font-size: 2.5rem;
  font-family: "Mate SC", serif;
  text-align: center;
  margin-left: 20px;
}
.wrapper div div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.wrapper div p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 250px;
  height: 250px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.cardsContainer {
  height: calc(100% -435px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  background-color: #eaefef;
  padding: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .img {
    width: 180px;
    height: 180px;
  }
  .wrapper div h1 {
    font-size: 2rem;
  }
  .wrapper div p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .img {
    width: 150px;
    height: 150px;
  }
  .wrapper div h1 {
    font-size: 1.5rem;
  }
  .wrapper {
    max-width: 100%;
    margin: 10px 0px;
    height: 250px;
  }
}

@media screen and (max-width: 483px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 100%);
  }
}

@media screen and (max-width: 450px) {
  .img {
    width: 120px;
    height: 120px;
  }
  .wrapper div h1 {
    font-size: 1.2rem;
  }
  .wrapper div p {
    font-size: 0.92rem;
  }
}
