.navIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.line {
  display: block;
  width: 32px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(27, 27, 31);
  transition: all 0.5s;
  opacity: 0.8;
  margin-top: 3px;
  z-index: 1;
}
.line1 {
  transform: translateY(4px) rotate(-135deg);
  background-color: white;
}

.line2 {
  transform: translateX(-50px);
  background-color: transparent;
}

.line3 {
  transform: translateY(-8px) rotate(135deg);
  background-color: white;
}

.sidebar {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 100px;
  background-color: #1a1818;
  transition: all 0.5s ease-in;
}

.open {
  width: 100%;
  height: 100vh;
  opacity: 1;
  border-radius: 0;
}

.sidebarHeader {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sidebarHeader h3 {
  font-size: 2.5rem;
  color: rgb(221, 219, 219);
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.sidebarBody ul {
  margin-top: 20px;
  color: rgb(221, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarBody ul li {
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  list-style: none;
  line-height: 5rem;
  transition: all 0.3s linear;
}

.sidebarFooter {
  margin-top: 10px;
  color: rgb(221, 219, 219);
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
